<div class="container-carousel">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <img src="{{ getSlide() }}" alt="Slide" />
        </div>
        <button id="prev" (click)="getPrev()" aria-label="Previous"><mat-icon
                id="mat-right">keyboard_arrow_left</mat-icon></button>
        <button id="next" (click)="getNext()" aria-label="Next"><mat-icon
                id="mat-left">keyboard_arrow_right</mat-icon></button>
    </div>
</div>