/*web-development*/
.item2 {
    grid-area: about;
    background-color: #EF8F5A;
    padding: 20px;
    padding-bottom: 0;
    position: relative;
}

/*angular*/
.item3 {
    grid-area: aboutme;
    background-color: #d34a7c;
    padding: 50px;
}

/*orange*/
.item4 {
    grid-area: projects;
    background-color: #EF8F5A;
    padding: 30px;
    height: auto;
    font-size: 22px;
}

/*grid-container*/
.grid-container {
    display: grid;
    grid-template-areas:
        'header0'
        'about'
        'aboutme'
        'projects'
        'footer';
}

#web-dev-p {
    font-size: 60px;
    padding-top: 70px;
    text-align: center;
    position: relative;
}

#angular {
    font-size: 35px;
    font-family: 'Kosugi';
    color: black;
    text-align: center;
}

mat-toolbar {
    background-color: #B8406B;
}

::ng-deep .after {
    background-color: #EF8F5A;
}

mat-icon {
    background: none;
    transform: scale(2);
}

/*Memory game*/
#tab0 {
    padding: 10px;
}

.mat-tab-group {
    font-size: 17px;
    justify-content: center;
    align-items: center;
}

.tab-group {
    justify-content: center;
    align-items: center;
}

#tab4-contents {
    padding: 30px;
}

#tab4-p {
    padding-bottom: 20px;
    text-align: center;
}

#plus {
    padding: 10px;
}

.mobile-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.next-next:hover,
.prev-prev:hover {
    background-color: #c12b61;
}

.prev-prev:active {
    background-color: #A480C0;
}

@media (max-width: 1070px) {

    #angular {
        padding-top: 20px;
    }

    #tab0 {
        padding: 10px;
    }

    .item3 {
        padding: 20px;
    }

}

@media (max-width: 768px) {

    .grid-container {
        width: 100%;
    }

    /*oranssi osio päättyy*/

    #tab0 {
        padding: 5px;
    }

    #angular {
        margin: 20px;
    }

}

/*web-dev otsikkoa varten*/
@media (max-width: 600px) {
    #web-dev-p {
        font-size: 50px;
        padding-top: 30px;
    }

    /*graphicsissa on piennennetty tuota paddingia kokoajan alaspain..*/
    #tab0 {
        margin: 10px;
    }
}

/*web-dev otsikkoa varten*/
@media (max-width: 500px) {
    #web-dev-p {
        font-size: 40px;
    }

    .item3 {
        padding: 0px;
    }

    #food {
        font-size: 25px;
    }

    .item4 {
        padding: 10px;
    }
}

@media (max-width: 380px) {

    #web-dev-p {
        font-size: 30px;
    }

    #food {
        font-size: 24px;
        padding: 10px;
    }

    .item4 {
        padding: 3px;
    }
}

/*web-dev otsikkoa varten*/
@media (max-width: 320px) {
    #web-dev-p {
        font-size: 25px;
    }

}