<head>
    <link href='https://fonts.googleapis.com/css?family=Kosugi' rel='stylesheet'>
</head>

<body>
    <div class="grid-container">
        <!--top nav-->
        <div class="item0">
            <div class="topnav">
                <a id="yellow" routerLink="/web-development" routerLinkActive="active">Projects</a>

                <button id="double-text">
                    <a routerLink="/welcome" routerLinkActive="active">
                        <p id="normal">ELINA</p>
                        <p id="upside">ELINA</p>
                    </a>
                </button>

                <a id="yellow" routerLink="/graphic-design" routerLinkActive="active">Graphic design</a>
            </div>
        </div>

        <!--heading area-->
        <div class="item1">
            <a id="heading" routerLink="/welcome" routerLinkActive="active">
                <p>ELINA</p>
            </a>
        </div>

        <!--web-dev-->
        <div class="item2">
            <p id="web-dev-p">web development</p>
        </div>

        <!--angular-->
        <div class="item3">

            <!--mat tab-->
            <mat-tab-group>
                <mat-tab label="First" id="tab1"><app-loan></app-loan></mat-tab>
                <mat-tab label="Second" id="tab2"></mat-tab>
                <mat-tab label="Third" id="tab3"></mat-tab>
                <mat-tab label="Fourth" id="tab4"></mat-tab>
                <mat-tab label="Fifth" id="tab5"></mat-tab>
                <mat-tab label="Sixth" id="tab6"></mat-tab>
            </mat-tab-group>


            <!--huom tämä piilotettu tabiin siirtymisen vuoksi, säästetään jos sitä tarviaa vielä
            <mat-toolbar>
                <button mat-button [matMenuTriggerFor]="afterMenu">
                    <mat-icon>menu</mat-icon>
                </button>
                <p id="angular">angular</p>
            </mat-toolbar>

            <mat-menu class="after" #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item><a routerLink="/welcome" routerLinkActive="active">
                        <p id="nav-p">Welcome sivu</p>
                    </a></button>
                <button mat-menu-item><a routerLink="/web-development" routerLinkActive="active">
                        <p id="nav-p">Web development yms</p>
                    </a></button>
            </mat-menu>
            <app-projects></app-projects>-->
        </div>

        <!--orange-->
        <div class="item4">

            <h1 id="food">Restaurant food ordering app</h1>

            <div class="button-classi">

                <button id="buttoni">
                    <a href="https://github.com/ellu563/GastroAPI" target="_blank" rel="noopener">
                        <div id="full-p2">
                            <p>Backend</p>
                            <!--QR-koodi-->
                            <img id="backkikuva" src="assets/images/api.png">
                        </div>
                    </a>
                    <p id="little-text">Self-developed</p>
                    <p id="little-text2">C# & .NET</p>
                </button>

                <button id="buttoni">
                    <a href="https://github.com/elinasylvia/GastroBar-Saimaa---sovellus" target="_blank" rel="noopener">
                        <div id="full-p1">
                            <p>Frontend</p>
                            <!--QR-koodi-->
                            <img id="fronttikuva" src="assets/images/frontend.png">
                        </div>
                    </a>
                    <p id="little-text">3 person project</p>
                    <p id="little-text2">Angular & TypeScript</p>
                </button>
                <!--kuvakaruselli-komponentti-->
                <app-carousel></app-carousel>
            </div>
        </div>


        <!--go up-->
        <app-side-game-button></app-side-game-button>

        <!--bottom nav-->
        <div class="item5">
            <div class="bottomnav">
                <a href="mailto:elina.partinen1@gmail.com">
                    <p id="contact-p">Contact me</p>
                </a>
            </div>
        </div>
    </div>
</body>