<head>
    <link href='https://fonts.googleapis.com/css?family=Kosugi' rel='stylesheet'>
</head>

<body>
    <div class="grid-container">
        <!--top nav-->
        <div class="item0">
            <div class="topnav">
                <a id="yellow" routerLink="/web-development" routerLinkActive="active">Projects</a>

                <button id="double-text">
                    <a routerLink="/welcome" routerLinkActive="active">
                        <p id="normal">ELINA</p>
                        <p id="upside">ELINA</p>
                    </a>
                </button>

                <a id="yellow" routerLink="/graphic-design" routerLinkActive="active">Graphic design</a>
            </div>
        </div>

        <!--heading area-->
        <div class="item1">
            <a id="heading" routerLink="/welcome" routerLinkActive="active">
                <p>ELINA</p>
            </a>
        </div>

        <!--web-dev-->
        <div class="item2">
            <!--slide in left-->
            <p id="web-dev-p" [@slideInLeft]>web development</p>
        </div>

        <!--angular-->
        <div class="item3">

            <p id="angular">angular</p>
            <div class="tab-group">
                <!--mat tab/jossa projektit-->
                <mat-tab-group>
                    <mat-tab label="Tickets" id="tab1">
                        <app-tickets></app-tickets>
                    </mat-tab>
                    <mat-tab label="Today app with Firebase" id="tab3">
                        <div class="app-container">
                            <app-top-bar-today></app-top-bar-today>
                            <app-today-is></app-today-is>
                            <app-task></app-task>
                            <app-to-do></app-to-do>
                        </div>
                    </mat-tab>
                    <mat-tab label="Loan calculator" id="tab2"><app-loan></app-loan></mat-tab>
                    <mat-tab label="This portfolio" id="tab4">
                        <div id="tab4-contents">
                            <div id="p-container">
                                <p>This portfolio was made by me using Angular Framework with TypeScript during the
                                    spring/summer of 2023.</p>
                                <p>In the making of this site, I also made it my mission to learn some new techniques
                                    on the way, like
                                    for example using scss, angular animations, publishing this site to a real server,
                                    learning more about css and also improving some of my old projects which are
                                    displayed here on the site.</p>
                            </div>
                            <div id="pic-herd">
                                <img id="own" src="assets/images/own.png" width="140px" height="140px">
                                <img id="plus" src="assets/images/p.png" width="75px" height="75px">
                                <img id="angular" src="assets/images/ang.png" width="140px" height="140px">
                                <img id="plus" src="assets/images/p.png" width="75px" height="75px">
                                <img id="ts" src="assets/images/ts.png" width="140px" height="140px">
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="GitHub" id="tab5">
                        <div>
                            <img src="assets/images/github.png" width="30%">
                            <h2>@ ellu563</h2>
                            <p>More of my projects can be found on GitHub.</p>
                            <p>Java with Android Studio</p>
                            <p>Web-technologies / HTML & CSS</p>
                            <p>Backend with C#</p>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

        <!--orange-->
        <div class="item4">

            <h1 id="food">Restaurant food ordering app</h1>

            <div class="description">
                <p id="little-text3">2022-2023 (Project duration: 4 months) - This project was developed with 2 other
                    developers for a mock
                    restaurant.
                </p>
                <p id="little-text3">In the app customers can order products inside the restaurant from a tablet placed
                    at
                    their own table.</p>
                <p id="little-text3">The logic behind the ordering system and the entire backend side was developed by
                    me,
                    whilst also developing some of the key components at the frontend side.</p>
            </div>

            <div class="button-classi">

                <button id="buttoni">
                    <a href="https://github.com/ellu563/GastroAPI" target="_blank" rel="noopener">
                        <div id="full-p2">
                            <p>Backend</p>
                            <!--QR-koodi-->
                            <img id="backkikuva" src="assets/images/api.png">
                        </div>
                    </a>
                    <p id="little-text">Self-developed</p>
                    <p id="little-text2">C# & .NET</p>
                </button>

                <button id="buttoni">
                    <a href="https://github.com/elinasylvia/GastroBar-Saimaa---sovellus" target="_blank" rel="noopener">
                        <div id="full-p1">
                            <p>Frontend</p>
                            <!--QR-koodi-->
                            <img id="fronttikuva" src="assets/images/frontend.png">
                        </div>
                    </a>
                    <p id="little-text">Group project</p>
                    <p id="little-text2">Angular & TypeScript</p>
                </button>
                <!--kuvakaruselli-komponentti-->
                <app-carousel></app-carousel>
            </div>
        </div>


        <!--go up-->
        <app-side-game-button></app-side-game-button>

        <!--bottom nav-->
        <div class="item5">
            <app-contact-me></app-contact-me>
        </div>
    </div>
</body>