<body>
    <div class="grid-container">
        <!--top nav-->
        <div class="item0">
            <app-site-topbar></app-site-topbar>
        </div>

        <!--web-dev-->
        <div class="item2">
            <!--slide in left-->
            <p id="web-dev-p" [@slideInLeft]>web development</p>
        </div>

        <!--angular-->
        <div class="item3">

            <p id="angular">angular</p>
            <div class="tab-group">

                <!--desktop ja tabletti-->
                <mat-tab-group *ngIf="!isMobileView">
                    <mat-tab label="Tickets" id="tab1">
                        <app-tickets></app-tickets>
                    </mat-tab>
                    <mat-tab label="Memory game" id="tab0">
                        <app-game></app-game>
                    </mat-tab>
                    <mat-tab label="Which The Wire character are you?" id="tab3">
                        <app-question></app-question>
                    </mat-tab>
                    <mat-tab label="Loan calculator" id="tab2">
                        <app-loan></app-loan>
                    </mat-tab>
                    <mat-tab label="This portfolio" id="tab4">
                        <app-this-portfolio></app-this-portfolio>
                    </mat-tab>
                </mat-tab-group>

                <!--mobiilille oma!!-->
                <div class="mobile-content" *ngIf="isMobileView">
                    <!--nuolipainikkeet -->
                    <div class="b-buttons">
                        <button class="next-next" aria-label="previous button" (click)="prevComponent()"
                            *ngIf="currentIndex > 0"><mat-icon>chevron_left</mat-icon></button>
                        <button class="prev-prev" aria-label="next button" (click)="nextComponent()"
                            *ngIf="currentIndex < maxIndex"><mat-icon>chevron_right</mat-icon></button>
                    </div>

                    <ng-container *ngIf="currentIndex === 0">
                        <app-tickets></app-tickets>
                    </ng-container>
                    <ng-container *ngIf="currentIndex === 1">
                        <app-game></app-game>
                    </ng-container>
                    <ng-container *ngIf="currentIndex === 2">
                        <app-question></app-question>
                    </ng-container>
                    <ng-container *ngIf="currentIndex === 3">
                        <app-loan></app-loan>
                    </ng-container>
                    <ng-container *ngIf="currentIndex === 4">
                        <app-this-portfolio></app-this-portfolio>
                    </ng-container>

                    <!--nuolipainikkeet -->
                    <div class="b-buttons">
                        <button class="next-next" aria-label="previous button" (click)="prevComponent()"
                            *ngIf="currentIndex > 0"><mat-icon>chevron_left</mat-icon></button>
                        <button class="prev-prev" aria-label="next button" (click)="nextComponent()"
                            *ngIf="currentIndex < maxIndex"><mat-icon>chevron_right</mat-icon></button>
                    </div>
                </div>

            </div>
        </div>

        <!--orange-->
        <div class="item4">
            <app-webdev-gastro></app-webdev-gastro>
            <!--tuolla myos sisalla se app-container-->
        </div>

        <!--bottom nav-->
        <div class="item5">
            <app-contact-me></app-contact-me>
        </div>
    </div>
</body>