body {
    font-family: 'Kosugi';
}

.topnav {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
}

.topnav a {
    float: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav #yellow:hover {
    background-color: #DEA615;
    color: black;
    border-radius: 10px;
    padding: 15px;
}

#yellow {
    padding: 15px;
}

.topnav a.active {
    color: black;
}

/*tuplateksti-nappi*/
#double-text {
    border: none;
    background: none;
    margin: 20px;
}


/*teksti vaarinpain nav*/
#upside {
    font-size: 30px;
    transform: rotate(180deg);
    margin-bottom: 0;
}

#upside:hover {
    color: #DEA615;
}

/*teksti oikeinpain nav*/
#normal {
    font-size: 30px;
    margin-bottom: 0;
}

#normal:hover {
    color: #DEA615;
}

/*top nav area*/
.item0 {
    grid-area: header0;
    background-color: #f3ebeb;
    padding: 40px;
    display: block;
}

mat-icon {
    transform: scale(2);
}

/*Item1 - Otsikko*/
#heading {
    font-size: 9rem;
    text-align: center;
}


/*web-development*/
.item2 {
    grid-area: about;
    background-color: #EF8F5A;
    padding: 20px;
    padding-bottom: 0;
    position: relative;
}

#web-dev-p {
    font-size: 60px;
    padding-top: 70px;
    text-align: center;
    position: relative;
}

#angular {
    font-size: 35px;
    font-family: 'Kosugi';
    color: black;
    text-align: center;
}

.bottomnav {
    font-size: 25px;
    text-align: center;
}

mat-toolbar {
    background-color: #B8406B;
}

::ng-deep .after {
    background-color: #EF8F5A;
}

#nav-p {
    font-family: 'Kosugi';
    font-size: 17px;
}

mat-icon {
    background: none;
}

a {
    text-decoration: none;
    color: black;
}

/*angular*/
.item3 {
    grid-area: aboutme;
    background-color: #d34a7c;
    padding: 90px;
}

/*orange*/
.item4 {
    grid-area: projects;
    background-color: #EF8F5A;
    padding: 30px;
    height: auto;
    font-size: 22px;
}

/*footer*/
.item5 {
    grid-area: footer;
    background-color: #c12b61;
    padding: 20px;
}

/*grid-container*/
.grid-container {
    display: grid;
    grid-template-areas:
        'header0'
        'about'
        'aboutme'
        'projects'
        'footer';

}

#food {
    font-family: 'Kosugi';
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
}

a:hover #full-p1 {
    background-color: #A480C0;
}

a:hover #full-p2 {
    background-color: #A480C0;
}

#full-p1 {
    background-color: #d34a7c;
    padding: 30px;
    border-radius: 20px;
    font-size: 23px;
    font-family: 'Kosugi';
    text-align: center;
}

#full-p2 {
    background-color: #d34a7c;
    padding: 30px;
    border-radius: 20px;
    font-size: 23px;
    font-family: 'Kosugi';
    text-align: center;
}

#little-text {
    padding-top: 20px;
    font-family: 'Kosugi';
    font-size: 22px;
    text-align: center;
}

#little-text2 {
    font-family: 'Kosugi';
    font-size: 22px;
    text-align: center;
}

#fronttikuva {
    width: 170px;
    height: 170px;
}

#backkikuva {
    width: 170px;
    height: 170px;
}

.button-classi {
    text-align: center;
}

#buttoni {
    border: none;
    background: none;
    margin: 20px;
    width: 300px;
}

a:hover #contact-p {
    color: #DEA615;
}

.mat-tab-group {
    font-size: 17px;
    justify-content: center;
    align-items: center;
}

.mat-tab-label {
    font-family: 'Kosugi';
    font-size: 35px;
}

.tab-group {
    justify-content: center;
    align-items: center;
}

#little-text3 {
    font-size: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 54%;
}

.app-container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 50px;
    background-color: #f9f3ed;
    /*today apin taustavari*/
    width: 65%;
    align-items: center;
    box-shadow: 9px 12px;
    border: 1px solid;
    border-radius: 10px;
}

#tab4-contents {
    padding: 30px;
}

#tab4-p {
    padding-bottom: 20px;
    text-align: center;
}

#plus {
    padding: 10px;
}