mat-form-field {
    display: block;
}

.plus,
.minus {
    padding: 45px;
}

.minus-a {
    background-color: #b23860;
}

.minus-b {
    background-color: #e27600;
}

.minus-c {
    background-color: #af2370;
}

.buyer {
    width: 100%;
    text-align: center;
}


.basic,
.student,
.senior {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 50px;
    background-color: #f9f3ed;
    box-shadow: 9px 12px;
    border: 1px solid;
    border-radius: 10px;
}

.big-container {
    border: 1.5px solid black;
    margin-top: 20px;
}

.ticket-div {
    margin-top: 20px;
}



/*for tickets under here*/
/*ns.red-container vaan nimeamisen vuoksi, ei liity punaiseen*/
.red-container {
    display: flex;
    width: 85%;
    margin: 20px;
}

.red-section {
    flex: 35;
    background-color: #b00b46;
    padding: 20px;
    color: white;
    position: relative;
    z-index: 1;
}


.white-section {
    flex: 65;
    background-color: #f9f3ed;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 65%;
}

.image-overlay {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url('/assets/images/made.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


/*H2*/
.tickets1,
.tickets2 {
    font-family: 'Kosugi';
}

.tickets1 {
    margin: 20px;
    font-size: 55px;
}

.tickets2 {
    font-size: 30px;
    text-align: left;
    margin: 5px;
}

.mat-form-field {
    margin: 10px;
}

.send-button {
    margin-bottom: 25px;
}