mat-form-field {
    display: block;
}

.plus,
.minus {
    padding: 45px;
}

.minus-a {
    background-color: #b23860;
}

.minus-b {
    background-color: #e27600;
}

.minus-c {
    background-color: #af2370;
}

.buyer {
    width: 100%;
    text-align: center;
}


.basic,
.student,
.senior {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 50px;
    background-color: #f9f3ed;
    box-shadow: 9px 12px;
    border: 1px solid;
    border-radius: 10px;
}

.big-container {
    border: 1.5px solid black;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 10px;
    width: 90%;
    margin: 25px;
}

.ticket-div {
    margin-top: 20px;
}



/*for tickets under here*/
/*ns.red-container vaan nimeamisen vuoksi, ei liity punaiseen*/
.red-container {
    display: flex;
    width: 75%;
    /*keskittää*/
    margin: 0 auto;
}

.red-section {
    flex: 35;
    background-color: #b00b46;
    padding: 20px;
    color: white;
    position: relative;
    z-index: 1;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/made.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


.white-section {
    flex: 65;
    background-color: #f9f3ed;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 65%;
}


/*H2*/
.tickets1,
.tickets2 {
    font-family: 'Kosugi';
}

.tickets1 {
    font-size: 55px;
    margin-top: 20px;
}

.tickets2 {
    font-size: 30px;
    text-align: left;
    margin-top: 10px;
    margin: 5px;
    text-align: center;
}

.boll {
    margin-bottom: 10px;
}

.mat-form-field {
    margin: 10px;
}

.send-button {
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .red-container {
        width: 90%;
    }

    .white-section {
        flex: 80;
    }

    .red-section {
        flex: 20;
    }
}

@media (max-width: 430px) {
    .big-container {
        width: 95%;
        margin: 10px;
    }

    .tix {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .big-container {
        width: 100%;
        margin: 10px;
    }

    .white-section {
        flex: 95;
    }

    .red-section {
        flex: 5;
    }
}