.container {
    width: 400px;
    height: auto;
    margin: auto;
    padding: 200px;
    padding-top: 90px;
    font-family: 'Kosugi';
    position: relative;
}

#frenchie {
    margin: 10px;
    padding-top: 60px;
    width: 100%;
}

h1 {
    font-family: 'Kosugi';
    font-size: 200px;
    margin-bottom: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: #A480C0;
    padding: 15px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: #DEA615;
}