/*peli*/

.white-container {
    width: 100%;
    border-radius: 20px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #22343e;
    /*H1*/
    text-align: center;
}

.container-cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /*2 riviä*/
    grid-template-columns: repeat(4, 1fr);
    /*4 saraketta*/
    grid-gap: 20px;
    /*väliä korttien välille */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.card-class {
    padding: 0;
    position: relative;
}

.card {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 190px;
    /*rajoitettu kortin leveys */
    max-height: 240px;
    /*rajoitettu kortin korkeus */
    margin: 0 auto;
}

.front img,
.back img {
    height: 240px;
    width: 190px;
    object-fit: cover;
    border-radius: 20px;
}


/*vain etupuolelle*/
.front img:hover {
    filter: brightness(85%);
}


/*new game button*/
#start {
    background-color: #a0255d;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Kosugi';
    text-align: center;
}


/*new game button*/
#start:hover {
    background-color: #fbbebf;
}

* {
    cursor: cell;
}

/*for p*/
#imgs {
    font-size: 14px;
}

h1 {
    color: #fbbebf;
    font-family: 'Kosugi';
    font-size: 2em;
    margin-top: 20px;
}

@media (max-width: 938px) {

    /*tämä kohta nyt vaan pienentää noita gappeja koko jutulle!*/
    .container-cards {
        gap: 15px;
        padding: 10px;
    }

    /*vaihdettu käyttämään .f & .b, front img ja back img kääntää sen !!!*/
    .f {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .b {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transform: rotateY(0deg);
    }

}

/*korteille media queryt*/
@media (max-width: 768px) {

    .container-cards {
        gap: 10px;
        margin: 5px;
        padding: 10px;
    }

}

@media (max-width: 480px) {
    .container-cards {
        gap: 5px;
        margin: 3px;
        padding: 3px;
    }

}