body {
    font-family: 'Kosugi';
}

.topnav {
    overflow: hidden;
    margin: 0 auto;
}

.topnav a {
    float: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav #yellow:hover {
    background-color: #afd4e5;
    color: black;
    border-radius: 10px;
    padding: 15px;
}

#yellow {
    padding: 15px;
}

.topnav a.active {
    color: black;
}

/*tuplateksti-nappi*/
#double-text {
    border: none;
    background: none;
    margin: 20px;
}


/*teksti vaarinpain nav*/
#upside {
    font-size: 30px;
    transform: rotate(180deg);
    margin-bottom: 0;
}

#upside:hover {
    color: #afd4e5;
}

/*teksti oikeinpain nav*/
#normal {
    font-size: 30px;
    margin-bottom: 0;
}

#normal:hover {
    color: #afd4e5;
}

/*top nav area*/
.item0 {
    grid-area: header0;
    background-color: #fbbebf;
    padding: 40px;
}

.bottomnav {
    font-size: 25px;
    text-align: center;
}

/*Name heading area*/
.item1 {
    grid-area: header;
    background-color: #fbbebf;
    padding: 90px;
    padding-bottom: 32px;
    position: relative;
}

/*Item1 - Otsikko*/
#heading {
    font-size: 9rem;
    text-align: center;
}

/*graphic-design*/
.item2 {
    grid-area: about;
    background-color: #afd4e5;
    padding: 60px;
    padding-bottom: 0;
    position: relative;
}

#graphic-design {
    font-size: 60px;
    padding-top: 70px;
    text-align: center;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

/*kuvat*/
.item3 {
    grid-area: aboutme;
    background-color: #afd4e5;
    padding: 90px;
}

/*bottom yellow*/
.item4 {
    grid-area: projects;
    background-color: #dae9ee;
    padding: 30px;
    font-size: 22px;
}

/*footer*/
.item5 {
    grid-area: footer;
    background-color: #fbbebf;
    padding: 20px;
}

/*grid-container*/
.grid-container {
    display: grid;
    grid-template-areas:
        'header0'
        'header'
        'about'
        'aboutme'
        'projects'
        'footer';
}

/*peli*/

.container-cards {
    display: grid;
    grid-template-rows: repeat(4);
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*korteille media queryt*/
@media (max-width: 768px) {
    .container-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /* Lisätään väliä korttien väliin */
    }
}

@media (max-width: 480px) {
    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        /* Lisätään väliä korttien väliin */
    }
}


.card-class {
    margin-bottom: 270px;
    padding: 0;
    position: relative;
}

.card {
    position: absolute;
}

.front img,
.back img {
    height: 240px;
    width: 190px;
    object-fit: cover;
    border-radius: 20px;
}


/*vain etupuolelle*/
.front img:hover {
    filter: brightness(85%);
}


/*new game button*/
#start {
    background-color: yellow;
    border: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Kosugi';
    text-align: center;
}

/*new game button*/
#start:hover {
    background-color: #fbbebf;
}

* {
    cursor: cell;
}