/*peli*/

.white-container {
    width: 100%;
    border-radius: 20px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #22343e;
    /*H1*/
    text-align: center;
}

.container-cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /*2 rivi채*/
    grid-template-columns: repeat(4, 1fr);
    /*4 saraketta*/
    grid-gap: 20px;
    /*v채li채 korttien v채lille */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.card-class {
    padding: 0;
    position: relative;
}

.card {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 190px;
    /*rajoitettu kortin leveys */
    max-height: 240px;
    /*rajoitettu kortin korkeus */
    margin: 0 auto;
}

.front img,
.back img {
    height: 240px;
    width: 190px;
    object-fit: cover;
    border-radius: 20px;
}


/*vain etupuolelle*/
.front img:hover {
    filter: brightness(85%);
}


/*new game button*/
#start {
    background-color: #a0255d;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Kosugi';
    text-align: center;
}


/*new game button*/
#start:hover {
    background-color: #fbbebf;
}

* {
    cursor: cell;
}

/*for p*/
#imgs {
    font-size: 14px;
}

h1 {
    color: #fbbebf;
    font-family: 'Kosugi';
    font-size: 2em;
    margin-top: 20px;
}

/*korteille media queryt*/
@media (max-width: 768px) {

    .container-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

}