.bottomnav a {
    font-family: 'Kosugi';
    text-decoration: none;
    font-size: 25px;
}

.bottomnav {

    background-image: ('assets/images/tausta.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a:hover #contact-p {
    color: #DEA615;
}

.bird-img:active,
.bird-img:hover {
    transform: scale(1.1);
    filter: brightness(110%);
}

@media (max-width: 989px) {
    .bird-img {
        width: 6%;
    }
}

@media (max-width: 766px) {
    .bird-img {
        width: 7%;
    }
}

@media (max-width: 695px) {
    .bird-img {
        width: 8%;
    }
}

@media (max-width: 600px) {
    .bird-img {
        width: 9%;
    }
}

@media (max-width: 480px) {
    .bird-img {
        width: 20%;
    }

    #contact-p {
        font-size: 1.8rem;

    }

    a:active #contact-p {
        color: #DEA615;
    }
}