<div class="flex-container">

    <div class="blue-box">
        <div class="centered-logo">
            <img class="logo" src="assets/images/logou.png" width="70%">
        </div>
    </div>

    <div class="white-box">
        <div class="white-text">
            <h1 class="h1-portfolio">This portfolio</h1>

            <p>This portfolio was made by me using Angular Framework with TypeScript during the spring-autumn time of
                2023.
            </p>
            <p>I made it my mission to learn some new techniques while doing the site, like for example using scss,
                angular
                animations, publishing this site to a real server, learning more about css and also improving some of my
                old
                projects which are displayed here on the site.</p>
        </div>
    </div>
</div>