.flex-container {
    display: flex;
}

.white-box {
    background-color: #FFFBFB;
    flex: 50;
    padding: 10px;
    text-align: center;
}

.blue-box {
    background-color: #6678DC;
    flex: 50;
    padding: 10px;
    text-align: center;
    color: white;
}