.flex-container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
}

.white-box {
    background-color: #FFFBFB;
    flex: 50;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.blue-box {
    background-color: #6678DC;
    flex: 50;
    padding: 10px;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}