.flex-container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 5px;
}

.white-box {
    background-color: #FFFBFB;
    flex: 50;
    text-align: left;
    border-radius: 20px;
}

.blue-box {
    background-color: #6678DC;
    flex: 50;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
}

.blue-box,
.white-box {
    box-sizing: border-box;
}

.centered-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-portfolio {
    text-align: center;
}

.white-text {
    padding: 2.6rem;
}

.logo {
    width: 70%;
}


@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .blue-box {
        padding: 10px;
    }

    .logo {
        width: 40%;
    }

}