<div class="topnav">
    <a id="nav-button-webdev" aria-label="web development" routerLink="/web-development" routerLinkActive="active">WEB
        DEV</a>

    <a routerLink="/welcome" routerLinkActive="active" aria-label="Elina main page">
        <img class="logo" src="assets/images/logou.png" alt="Logo">
        <img class="logo-mobile" src="assets/images/E-logo-07.png" alt="Mobile logo">
    </a>

    <a id="nav-button-graphic" aria-label="graphic design" routerLink="/graphic-design"
        routerLinkActive="active">GRAPHICS</a>
</div>