.topnav {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
    white-space: nowrap;
}

.logo {
    width: 40%;
}

.logo:hover {
    transform: scale(1.1);
    filter: brightness(110%);
}

#yellow {
    color: black;
    border: solid #ff9d43;
    border-radius: 24px;
    padding: 15px;
    transition: box-shadow 0.3s ease;
}

#yellow:active {
    box-shadow: 0px 4px 8px #ff9d43;
}

.topnav #yellow:hover {
    color: black;
    border-radius: 24px;
    border: solid #d34a7c;
    padding: 15px;
    transition: border-color 0.3s ease;
}

.topnav a.active {
    color: black;
}

/*tuplateksti-nappi*/
#double-text {
    border: none;
    background: none;
    margin: 20px;
}


/*teksti vaarinpain nav*/
#upside {
    font-size: 30px;
    transform: rotate(180deg);
    margin-bottom: 0;
}

#upside:hover {
    color: #ff9d43;
}

/*teksti oikeinpain nav*/
#normal {
    font-size: 30px;
    margin-bottom: 0;
}

#normal:hover {
    color: #ff9d43;
}