.topnav {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /*lisää tilaa ylä- ja alareunalle*/
    box-sizing: border-box;
}

.topnav a {
    float: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
}

.logo {
    max-width: 25%;
    /*huom!! media queryjen tilalle vaihdettu tuo min-width!!*/
    min-width: 11em;
    margin-left: 5px;
    margin-right: 5px;
    aspect-ratio: 2.39;
}

.logo:hover,
.logo:active,
.logo-mobile:hover,
.logo-mobile:active {
    transform: scale(1.1);
    filter: brightness(110%);
}

#nav-button-webdev,
#nav-button-graphic {
    color: black;
    border: solid #ff9d43;
    border-radius: 24px;
    padding: 15px;
    transition: box-shadow 0.3s ease;
}

#nav-button-webdev:active,
#nav-button-graphic:active {
    box-shadow: 0px 5px 8px #ff9d43;
}

.topnav #nav-button-webdev:hover,
.topnav #nav-button-graphic:hover {
    color: black;
    border-radius: 24px;
    border: solid #d34a7c;
    padding: 15px;
    transition: border-color 0.3s ease;
}

.topnav a.active {
    color: black;
}


/*media querys irrelevant if using min-width*/
/*
@media (max-width: 768px) {
    .logo {
        width: 50%;
    }
}

@media (max-width: 690px) {
    .logo {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .logo {
        width: 70%;
    }
}

@media (max-width: 560px) {
    .logo {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .topnav {
        flex-direction: row;
        align-items: center;
        padding: 0;

    }

    .logo {
        width: 80%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 426px) {
    .topnav {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .logo {
        width: 90%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
*/

.logo-mobile {
    display: none;
}

/* IN HERE we move to mobile-logo */
@media (max-width: 485px) {

    .logo {
        display: none;
    }

    .logo-mobile {
        display: flex;
        width: 40%;
        min-width: 4em;
        /*pitää sen keskessä*/
        margin: 5px auto;
        aspect-ratio: 0.854;
    }
}


/* Suuremmille näytöille */
@media (min-width: 961px) {
    .logo {
        width: 30%;
    }
}