<div *ngIf="!kyselyAloitettu" class="kysely-container">
    <div class="aloitus-sivu">
        <div class="aloitus-laatikko">
            <h2>Mikä hahmo olisit The Wire sarjasta?</h2>
            <img src="assets/images/wire.jpg" alt="Kuva" class="aloitus-kuva">
            <button (click)="aloitaKysely()" class="aloita-button">Aloita</button>
        </div>
    </div>
</div>

<div *ngIf="!tulos && kyselyAloitettu" class="kysely-container">
    <div *ngIf="nykyinenKysymysIndeksi > 0">
        <button (click)="siirryEdelliseenKysymykseen()">Edellinen</button>
    </div>
    <div class="kysymys-laatikko">
        <img [src]="kysymykset[nykyinenKysymysIndeksi].kysymysKuvaUrl" alt="Kysymys Kuva" class="kysymys-kuva">
        <h2>{{ kysymykset[nykyinenKysymysIndeksi].kysymys }}</h2>
        <div class="vastaus-vaihtoehdot">
            <div *ngFor="let vaihtoehto of kysymykset[nykyinenKysymysIndeksi].vaihtoehdot; let i = index"
                class="vastaus-vaihtoehto" (click)="tallennaVastaus(vaihtoehto.teksti)">
                <p>{{ vaihtoehto.teksti }}</p>
            </div>
        </div>
    </div>
    <div class="navigointi">
        <div *ngIf="nykyinenKysymysIndeksi < kysymykset.length - 1">
            <button (click)="siirrySeuraavaanKysymykseen()">Seuraava</button>
        </div>
    </div>
</div>

<div *ngIf="tulos" class="kysely-container">
    <div class="tulos-laatikko">
        <h2>Tuloksesi:</h2>
        <p>{{ tulos }}</p>
        <img *ngIf="tulos.includes('Jimmy McNulty')" src="assets/images/jimmy1.jpg" width="80%" alt="Jimmy McNulty">
        <img *ngIf="tulos.includes('Omar Little')" src="assets/images/omar.jpg" width="80%" alt="Omar Little">
        <img *ngIf="tulos.includes('Avon Barksdale')" src="assets/images/avon.jpg" width="80%" alt="Avon Barksdale">
        <img *ngIf="tulos.includes('Bubbles')" src="assets/images/bubbles.jpg" width="80%" alt="Bubbles">
        <button (click)="nollaaTulos()">Aloita testi uudelleen</button>
    </div>
</div>