/* go up */
@keyframes blink {
    0% {
        box-shadow: 0 0 5px yellow;
    }

    50% {
        box-shadow: 0 0 20px yellow;
    }

    100% {
        box-shadow: 0 0 5px yellow;
    }
}

.go-up img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin: 0;
    position: fixed;
    bottom: 30px;
    right: 40px;
    vertical-align: center;
    animation: blink 2s 10;
    animation-delay: 4s;
    /*4 sekunnin viive*/
}

.go-up img:hover {
    filter: brightness(85%);
    animation: none;
    /*pysäytä animaatio, kun hiiri on kuvan päällä*/
}

.go-up p {
    font-size: 25px;
    align-self: center;
    position: fixed;
    bottom: 160px;
    right: 78px;
    height: 80px;
    width: 90px;
}