<head>
    <link href='https://fonts.googleapis.com/css?family=Kosugi' rel='stylesheet'>
</head>

<body>
    <div class="grid-container">
        <div class="item0">
            <div class="topnav">
                <a class="active" id="projects" href="#welcome">Projects</a>
                <a href="#welcome" id="contact">Contact</a>
            </div>
        </div>

        <div class="item1">
            <div id="heading">ELINA</div>
        </div>

        <div class="item2">about me</div>

        <div class="item3">About me2</div>

        <div class="item4">
            <h1>PROJECTS</h1>
        </div>

        <div class="item5">Footer</div>
    </div>
</body>