body {
    font-family: 'Kosugi';
}

.topnav {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
}

.topnav a {
    float: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav #yellow:hover {
    background-color: #DEA615;
    color: black;
    border-radius: 10px;
    padding: 15px;
}

#yellow {
    padding: 15px;
}

.topnav a.active {
    color: black;
}

/*tuplateksti-nappi*/
#double-text {
    border: none;
    background: none;
    margin: 20px;
}


/*teksti vaarinpain nav*/
#upside {
    font-size: 30px;
    transform: rotate(180deg);
    margin-bottom: 0;
}

#upside:hover {
    color: #DEA615;
}

/*teksti oikeinpain nav*/
#normal {
    font-size: 30px;
    margin-bottom: 0;
}

#normal:hover {
    color: #DEA615;
}

/*top nav area*/
.item0 {
    grid-area: header0;
    background-color: #B8406B;
    padding: 40px;
}

/*Name heading area*/
.item1 {
    grid-area: header;
    background-color: #B8406B;
    padding: 90px;
    padding-bottom: 32px;
    position: relative;
}

/*Item1 - Otsikko*/
#heading {
    font-size: 9rem;
    text-align: center;
}

.block-party-1,
.block-party-2 {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}


#about-me {
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}


#intro {
    font-size: 25px;
    text-align: center;

}

#intro2 {
    font-size: 25px;
    text-align: center;
    padding: 30px;
}

/*about me 1*/
.item2 {
    grid-area: about;
    background-color: #DEA615;
    padding: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover .block1 {
    background-color: #B8406B;
}

a:hover .block2 {
    background-color: #A480C0;
}

a:hover .block-web1 {
    background-color: #A480C0;
}

a:hover .block-web2 {
    background-color: #B8406B;
}

/*hide button padding, border, and background*/
#blocks {
    width: 400px;
    height: 300px;
    padding: 0;
    border: none;
    background: none;
}

/*graphic design*/
.block1 {
    background-color: #A480C0;
    padding: 50px;
    font-size: 70px;
    border-radius: 30px;
    margin-bottom: 0;
}

/*graphic design*/
.block2 {
    background-color: #B8406B;
    padding: 50px;
    font-size: 70px;
    border-radius: 30px;
}



/*web-dev*/
.block-web1 {
    background-color: #B8406B;
    padding: 20px;
    border-radius: 20px;
}

/*web-dev*/
.block-web2 {
    background-color: #A480C0;
    padding: 20px;
    border-radius: 20px;
}

/*web-dev <p>*/
#p-web {
    font-size: 70px;
}

/*about me 2*/
.item3 {
    grid-area: aboutme;
    background-color: #A480C0;
    padding: 30px;
}

/*projects*/
.item4 {
    grid-area: projects;
    background-color: #EF8F5A;
    padding: 90px;
    font-size: 22px;
}

/*projects h1*/
h1 {
    font-family: 'Kosugi';
    font-size: 7rem;
    text-align: center;
    padding-bottom: 30px;
}

.bottomnav {
    font-size: 25px;
    text-align: center;
}

/*footer*/
.item5 {
    grid-area: footer;
    background-color: #B8406B;
    padding: 20px;
}

/*grid-container*/
.grid-container {
    display: grid;
    grid-template-areas:
        'header0'
        'header'
        'about'
        'aboutme'
        'projects'
        'footer';
}

/*go up*/

.go-up img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin: 0;
    position: fixed;
    bottom: 30px;
    right: 40px;
    vertical-align: center;
}

.go-up p {
    font-size: 25px;
    align-self: center;
    position: fixed;
    bottom: 160px;
    right: 78px;
    height: 80px;
    width: 90px;
}