<body>
    <div class="grid">
        <!--item0 -->
        <div class="item0" [class.fixed]="isNavbarFixed">
            <app-site-topbar></app-site-topbar>
        </div>

        <!--item 2: IMGs-->
        <div class="item2">
            <app-welcome-imgs></app-welcome-imgs>
        </div>

        <!--item3: siksak-->
        <div class="item3">
            <img class="sik" src="assets/images/siksakki-02.png" width="100%" alt="Siksak pattern" loading="lazy">
        </div>

        <!--item4: projects-->
        <div class="item4">
            <h1 class="pr-h1">PROJECTS</h1>

            <div class="b-cont">
                <div class="b-party-1">
                    <!--web-dev-->
                    <button id="blocks1" aria-label="web development" (mouseenter)="onHoverWeb()"
                        (mouseleave)="onLeaveWeb()">
                        <a routerLink="/web-development" routerLinkActive="active">
                            <div class="bw1"></div>
                            <div class="bw-content">
                                <p class="p-w2"><span [ngClass]="{'hidden': hoverWeb}">web</span></p>
                                <p class="p-w2"><span [ngClass]="{'hidden': hoverWeb}">dev</span></p>
                                <p class="p-w2"><span [ngClass]="{'hidden': !hoverWeb}">step</span></p>
                                <p class="p-w2"><span [ngClass]="{'hidden': !hoverWeb}">inside</span></p>
                            </div>
                            <div class="bw2"></div>
                        </a>
                    </button>
                </div>
                <div class="b-party-2">
                    <!-- graphic design-->
                    <button id="blocks2" aria-label="graphic design" (mouseenter)="onHover()" (mouseleave)="onLeave()">
                        <a routerLink="/graphic-design" routerLinkActive="active">
                            <div class="b1">
                                <p class="p-w"><span *ngIf="!hover">graphic</span></p>
                                <p class="p-w"><span *ngIf="hover">learn</span></p>
                            </div>
                            <div class="b2">
                                <p class="p-w"><span *ngIf="!hover">design</span></p>
                                <p class="p-w"><span *ngIf="hover">more</span></p>
                            </div>
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <!--bottom nav-->
        <div class="item5">
            <app-contact-me></app-contact-me>
        </div>


    </div>
</body>