<head>
    <link href='https://fonts.googleapis.com/css?family=Kosugi' rel='stylesheet'>
</head>

<body>
    <div class="grid-container">
        <!--top nav-->
        <div class="item0">
            <div class="topnav">
                <a id="yellow" routerLink="/web-development" routerLinkActive="active">Projects</a>

                <button id="double-text">
                    <a routerLink="/welcome" routerLinkActive="active">
                        <p id="normal">ELINA</p>
                        <p id="upside">ELINA</p>
                    </a>
                </button>

                <a id="yellow" routerLink="/graphic-design" routerLinkActive="active">Graphic design</a>
            </div>
        </div>

        <!--heading area-->
        <div class="item1">
            <a id="heading" routerLink="" routerLinkActive="active">
                <!--slide in left-->
                <p [@slideInLeft]>ELINA</p>
            </a>
        </div>

        <!--about me-->
        <div class="item2">
            <p id="about-me">about me</p>
            <p id="intro">developer in the making</p>
            <p id="intro">graphic designer</p>
        </div>

        <!--about me/second part-->
        <div class="item3">
            <p id="intro2">studying data processing at LAB University of Applied Sciences</p>
        </div>

        <!--projects-->
        <div class="item4">
            <h1>PROJECTS</h1>

            <div class="block-party-1">
                <!--web-dev-->
                <button id="blocks" (mouseenter)="onHoverWeb()" (mouseleave)="onLeaveWeb()">
                    <a routerLink="/web-development" routerLinkActive="active">
                        <div class="block-web1"></div>
                        <div class="block-web-content">
                            <p><span [ngClass]="{'hidden': hoverWeb}" id="p-web">web</span></p>
                            <p><span [ngClass]="{'hidden': hoverWeb}" id="p-web">dev</span></p>
                            <p><span [ngClass]="{'hidden': !hoverWeb}" id="p-web">step</span></p>
                            <p><span [ngClass]="{'hidden': !hoverWeb}" id="p-web">inside</span></p>
                        </div>
                        <div class="block-web2"></div>
                    </a>
                </button>
            </div>

            <div class="block-party-2">
                <!-- graphic design-->
                <button id="blocks" (mouseenter)="onHover()" (mouseleave)="onLeave()">
                    <a routerLink="/graphic-design" routerLinkActive="active">
                        <div class="block1">
                            <span *ngIf="!hover">graphic</span>
                            <span *ngIf="hover">learn</span>
                        </div>
                        <div class="block2">
                            <span *ngIf="!hover">design</span>
                            <span *ngIf="hover">more</span>
                        </div>
                    </a>
                </button>
            </div>
        </div>

        <!--go up-->
        <app-side-game-button></app-side-game-button>

        <!--bottom nav-->
        <div class="item5">
            <app-contact-me></app-contact-me>
        </div>


    </div>
</body>