body {
    font-family: 'Kosugi';
}

.topnav {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
}

.topnav a {
    float: none;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #DEA615;
    color: black;
    border-radius: 10px;
}

.topnav a.active {
    color: black;
}

/*tuplateksti-nappi*/
#double-text {
    border: none;
    background: none;
}


/*teksti vaarinpain nav*/
#upside {
    font-size: 30px;
    transform: rotate(180deg);
}

/*teksti oikeinpain nav*/
#normal {
    font-size: 30px;
}

/*top nav area*/
.item0 {
    grid-area: header0;
    background-color: #B8406B;
    padding: 40px;
}

/*Name heading area*/
.item1 {
    grid-area: header;
    background-color: #B8406B;
    padding: 90px;
    position: relative;
}

/*Item1 - Otsikko*/
#heading {
    font-size: 9rem;
    text-align: center;
}

.item1 #heading:hover {
    color: #DEA615;
}

/*about me 1*/
.item2 {
    grid-area: about;
    background-color: #DEA615;
    padding: 60px;
    position: relative;
}

#about-me {
    font-size: 30px;
    right: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover .block1 {
    background-color: #B8406B;
}

a:hover .block2 {
    background-color: #A480C0;
}

a:hover .block-web1 {
    background-color: #A480C0;
}

a:hover .block-web2 {
    background-color: #B8406B;
}

/*hide button padding, border, and background*/
#blocks {
    width: 400px;
    height: 300px;
    padding: 0;
    border: none;
    background: none;
    margin: 30px;
}

/*graphic design*/
.block1 {
    background-color: #A480C0;
    padding: 50px;
    font-size: 70px;
    border-radius: 30px;
}

/*graphic design*/
.block2 {
    background-color: #B8406B;
    padding: 50px;
    font-size: 70px;
    border-radius: 30px;
}


/*web-dev*/
.block-web1 {
    background-color: #B8406B;
    padding: 20px;
    border-radius: 20px;
}

/*web-dev*/
.block-web2 {
    background-color: #A480C0;
    padding: 20px;
    border-radius: 20px;
}

/*web-dev <p>*/
#p-web {
    font-size: 70px;
}

/*about me 2*/
.item3 {
    grid-area: aboutme;
    background-color: #A480C0;
    padding: 60px;
}

/*projects*/
.item4 {
    grid-area: projects;
    background-color: #EF8F5A;
    padding: 90px;
    font-size: 22px;
}

/*projects h1*/
h1 {
    font-family: 'Kosugi';
    font-size: 7rem;
    text-align: center;
}

/*footer*/
.item5 {
    grid-area: footer;
    background-color: #B8406B;
    padding: 20px;
}

/*grid-container*/
.grid-container {
    display: grid;
    grid-template-areas:
        'header0'
        'header'
        'about'
        'aboutme'
        'projects'
        'footer';
}

/*go up*/

.go-up {
    background: yellow;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 0;
    position: fixed;
    bottom: 30px;
    right: 40px;
    vertical-align: center;
}