* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item2 {
    grid-area: aboutme;
    background-color: #c12b61;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 {
    grid-area: siksak;
    background-color: #c12b61;
}

.item4 {
    grid-area: projects;
    background-color: #ff9d43;
    padding-top: 90px;
    font-size: 22px;
    padding-bottom: 90px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header0'
        'aboutme'
        'siksak'
        'projects'
        'footer';
}

.block2,
.block-web1,
a:hover .block1,
a:hover .block-web2,
a:active .block1,
a:active .block-web2 {
    background-color: #ca98c5;
}

.block1,
.block-web2,
a:hover .block-web1,
a:hover .block2,
a:active .block2,
a:active .block-web1 {
    background-color: #f86bb4;
}

#blocks1,
#blocks2 {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.block1,
.block2 {
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 30vw;
    margin-bottom: 0;
}

.block-web1,
.block-web2 {
    border-radius: 20px;
    width: 30vw;
    height: 65px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.p-web,
.p-web2 {
    font-size: 4.5em;
    margin: 0;
    text-align: center;
}

.block-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
}

.block-party-1,
.block-party-2 {
    box-sizing: border-box;
    text-align: center;
    margin: 30px;
}

.block-web-content {
    margin: 0;
    padding: 12px;
}

.siksak {
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

h1 {
    font-family: 'Kosugi';
    font-size: 7rem;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 18px;
    margin-bottom: 50px;
}

.block-web-content span {
    display: inline-block;
}

.block-web-content span.hidden {
    display: none;
}

@media (max-width: 989px) {

    .p-web,
    .p-web2 {
        font-size: 3.4rem;
    }

    .block-web1,
    .block-web2 {
        border-radius: 15px;
        width: 30vw;
        height: 55px;
    }

    .block1,
    .block2 {
        border-radius: 20px;
        width: 30vw;
        height: 130px;
    }
}


@media (max-width: 768px) {

    .projects-h1 {
        font-size: 5rem;
    }

    .p-web,
    .p-web2 {
        font-size: 2.9rem;
    }

    /*web-dev*/
    .block-web1,
    .block-web2 {
        width: 33vw;
    }

    /*graphic*/
    .block1,
    .block2 {
        padding: 30px;
        width: 33vw;
        height: 120px;
    }
}

@media (max-width: 696px) {

    .block-web1,
    .block-web2 {
        width: 37vw;
    }

    .block1,
    .block2 {
        width: 37vw;
    }
}

@media (max-width: 600px) {

    .block-web1,
    .block-web2 {
        width: 35vw;
        height: 50px;
    }

    .block1,
    .block2 {
        width: 35vw;
        height: 107px;
    }

    .p-web,
    .p-web2 {
        font-size: 2.4rem;
    }
}


@media (max-width: 485px) {

    .block-container {
        flex-direction: column;
        align-items: center;
    }

    .block-party-2 {
        margin-top: 20px;
    }

    .block-web1,
    .block-web2 {
        width: 50vw;
    }

    .block1,
    .block2 {
        padding: 30px;
        width: 50vw;
    }

    .p-web,
    .p-web2 {
        font-size: 40px;
    }
}

@media (max-width: 380px) {

    .block-web1,
    .block-web2 {
        width: 58vw;
    }

    .block1,
    .block2 {
        width: 58vw;
    }

    .projects-h1 {
        font-size: 4rem;
    }
}