#food {
    font-family: 'Kosugi';
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
}

a:hover #full-p1 {
    background-color: #A480C0;
}

a:hover #full-p2 {
    background-color: #A480C0;
}

#full-p1,
#full-p2 {
    background-color: #d34a7c;
    padding: 30px;
    border-radius: 20px;
    font-size: 23px;
    font-family: 'Kosugi';
    text-align: center;
}

/*frontti ja backki otsikoille*/
a {
    text-decoration: none;
    color: black;
}

#little-text {
    padding-top: 20px;
    font-family: 'Kosugi';
    font-size: 22px;
    text-align: center;
}

#little-text2 {
    font-family: 'Kosugi';
    font-size: 22px;
    text-align: center;
}

#little-text3 {
    font-size: 22px;
}

.description {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fronttikuva,
#backkikuva {
    width: 170px;
    height: 170px;
}

.button-classi {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#buttoni1,
#buttoni2 {
    border: none;
    background: none;
    margin: 20px;
    width: 300px;
}

/*
@media (max-width: 1926px) {
    .description {
        width: 35%;
    }
}*/

@media (max-width: 1070px) {
    .description {
        width: 65%;
    }
}

@media (max-width: 975px) {
    .description {
        width: 68%;
    }
}

@media (max-width: 920px) {
    .description {
        width: 75%;
    }
}

@media (max-width: 855px) {
    .description {
        width: 80%;
    }
}

@media (max-width: 768px) {

    /*PISTÄÄ nuo QR- napit allekkain*/
    .button-classi {
        flex-direction: column;
        align-items: center;
    }

    #fronttikuva,
    #backkikuva {
        /*keskittää nuo*/
        margin: 10px auto;
    }

    /*restaurant-food-ordering-app otsikko*/
    #food {
        /*tuo font size-toimii*/
        font-size: 28px;
    }

    /*toimii!*/
    .description {
        font-size: 20px;
        /*width säätää tuota pikku tekstin aluetta*/
        /*ylempänä se on määritetty pienemmäksi, koska haluan sen olevan keskellä*/
        width: 80%;
    }

    #little-text,
    #little-text2 {
        font-size: 20px;
    }
}