.container {
    margin: 20px;
    padding: 50px;
    background-color: #f9ffe3;
    width: 80%;
    box-shadow: 9px 12px;
    border: 1px solid;
    border-radius: 10px;
}

mat-slider {
    width: 30%;
}

button {
    margin-top: 30px;
}