.container {
    margin: 20px;
    padding: 50px;
    background-color: #f4f3f3;
}

mat-slider {
    width: 30%;
}

button {
    margin-top: 30px;
}

/*ylapalkki*/
.flex-container {
    display: flex;
}

.yellow-box {
    background-color: #cba006;
    flex: 60;
    padding: 20px;
    text-align: center;
}

.blue-box {
    background-color: #3878b1;
    flex: 40;
    padding: 10px;
    text-align: center;
    color: white;
}

.white-bg {
    background-color: white;
    padding: 20px;
}

.headline {
    text-align: center;
    font-size: 50px;
}

.whole-thing {
    width: 75%;
}