.whole-thing {
    width: 67%;
    max-width: 1100px;
    /*keskittää sen mat-tabissa*/
    margin: 0 auto;
    margin-top: 7px;
}

.container {
    margin: 20px;
    padding: 50px;
    background-color: #f4f3f3;
    margin: 0 auto;
}

.white-bg {
    background-color: white;
    padding: 20px;
}

.container-fordata {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.bank-div {
    background-color: #cba006;
    width: 20%;
}

.data-div {
    width: 80%;
    padding: 35px;
    background-color: #f4f3f3;
}

mat-slider {
    width: 30%;
}

button {
    margin-top: 30px;
}

/*ylapalkki*/
.flex-container {
    display: flex;
}

.inside-flex-blue {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-flex-yellow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-box {
    background-color: #cba006;
    flex: 60;
    padding: 10px;
}

.blue-box {
    background-color: #3878b1;
    flex: 40;
    padding: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}

.headline {
    text-align: center;
    font-size: 50px;
}

.send-b {
    background-color: #cba006;
    color: black;
}

.mat-form-block {
    display: block;
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.custom-width {
    width: 30%;
}

.ohje-text {
    color: #757575;
}

@media (max-width: 768px) {

    .whole-thing {
        width: 90%;
    }

    .headline {
        font-size: 30px;
    }
}