<body>
    <div class="grid-container">
        <!--top nav-->
        <div class="item0">
            <app-site-topbar></app-site-topbar>
        </div>

        <!--graphic design heading-->
        <div class="item2">
            <!--slide in left-->
            <p id="graphic-design" [@slideInLeft]>graphic design</p>
        </div>

        <!--kuvat-->
        <div class="item3">
            <app-graphic-carousel></app-graphic-carousel>
        </div>

        <!--yellow-->
        <div class="item4"></div>

        <!--bottom nav-->
        <div class="item5">
            <app-contact-me></app-contact-me>
        </div>
    </div>
</body>