body {
    font-family: 'Kosugi';
}

.topnav {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
}

.topnav a {
    float: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    color: black;
}

/*top nav area*/
.item0 {
    grid-area: header0;
    background-color: #f3ebeb;
    padding: 40px;
    display: block;
}


.bottomnav {
    font-size: 25px;
    text-align: center;
}

/*graphic-design*/
.item2 {
    grid-area: about;
    background-color: #d34a7c;
    padding: 20px;
    padding-bottom: 0;
    position: relative;
}

#graphic-design {
    font-size: 60px;
    padding-top: 70px;
    text-align: center;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

/*kuvat*/
.item3 {
    grid-area: aboutme;
    background-color: #EF8F5A;
    padding: 75px;
}

/*bottom yellow*/
.item4 {
    grid-area: projects;
    background-color: #d34a7c;
    padding: 30px;
    font-size: 22px;
}

/*footer*/
.item5 {
    grid-area: footer;
    background-color: #c12b61;
    padding: 20px;
}

/*grid-container*/
.grid-container {
    display: grid;
    grid-template-areas:
        'header0'
        'about'
        'aboutme'
        'projects'
        'footer';
}

a:hover #contact-p {
    color: #DEA615;
}

@media (max-width: 768px) {
    .item3 {
        padding: 25px;
    }
}

@media (max-width: 600px) {
    #graphic-design {
        font-size: 50px;
        padding-top: 30px;
    }

    .item3 {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    #graphic-design {
        font-size: 40px;
    }

    .item3 {
        padding: 0px;
    }
}

@media (max-width: 320px) {
    #graphic-design {
        font-size: 25px;
    }

    .item3 {
        padding: 0px;
    }
}