/*graphic-design*/
.item2 {
    grid-area: about;
    background-color: #d34a7c;
    padding: 20px;
    padding-bottom: 0;
    position: relative;
}

/*kuvat*/
.item3 {
    grid-area: aboutme;
    background-color: #EF8F5A;
    padding: 75px;
}

/*bottom yellow*/
.item4 {
    grid-area: projects;
    background-color: #d34a7c;
    padding: 30px;
    font-size: 22px;
}

#graphic-design {
    font-size: 60px;
    padding-top: 70px;
    text-align: center;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

/*grid-container*/
.grid-container {
    display: grid;
    grid-template-areas:
        'header0'
        'about'
        'aboutme'
        'projects'
        'footer';
}

@media (min-width: 1500px) {
    .item3 {
        padding: 150px;
    }
}

@media (max-width: 768px) {
    .item3 {
        padding: 25px;
    }
}

@media (max-width: 600px) {
    #graphic-design {
        font-size: 50px;
        padding-top: 30px;
    }

    .item3 {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    #graphic-design {
        font-size: 40px;
    }

    .item3 {
        padding: 0px;
    }
}

@media (max-width: 320px) {
    #graphic-design {
        font-size: 25px;
    }

    .item3 {
        padding: 0px;
    }
}