<head>
    <link href='https://fonts.googleapis.com/css?family=Kosugi' rel='stylesheet'>
</head>

<body>
    <div class="grid-container">
        <!--top nav-->
        <div class="item0">
            <div class="topnav">
                <a id="yellow" routerLink="/web-development" routerLinkActive="active">Projects</a>

                <button id="double-text">
                    <a routerLink="/welcome" routerLinkActive="active">
                        <p id="normal">ELINA</p>
                        <p id="upside">ELINA</p>
                    </a>
                </button>

                <a id="yellow" routerLink="/graphic-design" routerLinkActive="active">Graphic design</a>
            </div>
        </div>

        <!--heading area-->
        <div class="item1">
            <a id="heading" routerLink="/welcome" routerLinkActive="active">
                <p>ELINA</p>
            </a>
        </div>

        <!--graphic design heading-->
        <div class="item2">
            <!--slide in left-->
            <p id="graphic-design" [@slideInLeft]>graphic design</p>
        </div>

        <!--kuvat-->
        <div class="item3">
            <app-graphic-carousel></app-graphic-carousel>
        </div>

        <!--yellow-->
        <div class="item4"></div>

        <!--bottom nav-->
        <div class="item5">
            <div class="bottomnav">
                <a href="mailto:elina.partinen1@gmail.com">
                    <p id="contact-p">Contact me</p>
                </a>
            </div>
        </div>
    </div>
</body>