body {
    font-family: 'Kosugi';
    font-size: 16px;
}


/*top nav area*/
.item0 {
    grid-area: header0;
    background-color: #f3ebeb;
    padding: 40px;
    display: block;
}

/*footer*/
.item5 {
    grid-area: footer;
    background-color: #c12b61;
    padding: 20px;
}

@media (max-width: 485px) {
    .item0 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

.next-next {
    background-color: #A480C0;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 5px;
}

.next-next:active {
    background-color: #EF8F5A;
}

.prev-prev {
    background-color: #EF8F5A;
    padding: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.b-buttons {
    text-align: center;
}